<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>hello</h1>

<form action="/albumssong" method="POST">
    Song name <input type="text" name="title">
    Song artist <input type="text" name="artist">
    Song songcount <input type="number" name="tracknumber">
    <input type="submit">
</form>


<ul>
    <li th:each="song:${albumsong}">
        <p th:text="${song}"></p>
    </li>

</ul>

</body>
</html>